body {
    margin: 0;
    font-family: system-ui;
    background: #0b1020;
    color: white;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    background: #020617;
    border-bottom: 1px solid #1e293b;
}

.top-bar h2 {
    margin: 0;
}

.back {
    color: #38bdf8;
    text-decoration: none;
    font-size: 18px;
}

.editor {
    display: flex;
    height: calc(100vh - 70px);
}

.canvas-area {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    max-width: 90%;
    max-height: 90%;
    border-radius: 14px;
    background: #000;
}

.tools {
    flex: 1;
    padding: 20px;
    background: #020617;
    overflow-y: auto;
}

.tools h3 {
    margin-top: 0;
}

.tools button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background: #1e293b;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.tools button:hover {
    background: #334155;
}

.tools label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

.tools input[type="range"] {
    width: 100%;
    margin-bottom: 15px;
}

hr {
    border: 1px solid #1e293b;
    margin: 15px 0;
}

.danger {
    background: #dc2626 !important;
}

.success {
    background: #16a34a !important;
}
